body {
    background: #5e5a51;
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 1px solid #f0ece3;
    background: url("numbers.png");
    cursor: pointer;
}

.tile1 {background-position: 0px 0px;}
.tile2 {background-position: -90px 0px;}
.tile3 {background-position: -180px 0px;}
.tile4 {background-position: -270px 0px;}
.tile5 {background-position: 0px -90px;}
.tile6 {background-position: -90px -90px;}
.tile7 {background-position: -180px -90px;}
.tile8 {background-position: -270px -90px;}
.tile9 {background-position: 0px -180px;}
.tile10 {background-position: -90px -180px;}
.tile11 {background-position: -180px -180px;}
.tile12 {background-position: -270px -180px;}
.tile13 {background-position: 0px -270px;}
.tile14 {background-position: -90px -270px;}
.tile15 {background-position: -180px -270px;}
.tile16 {background: white; cursor: default;}